


body, html {
    height: 100%;
}

.hero-image_contact {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/contact.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image_press {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/press.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image_portfolio {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/portfolio.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image_services {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/services.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image_about {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/about.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 
body, html {
    height: 100%;
}

.hero-image41 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project41.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image43 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project43.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image42 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project42.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image46 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project46.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image40 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project40.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image35 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project35.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image1a {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project1.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image5 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project5.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project2.jpg");



  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image36 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project36.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image39 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project39.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image3 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project3.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image4 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project4.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image37 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project37.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image38 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project38.jpg");



  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image45 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project45.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image44 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project44.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image6 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project6.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image7 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project7.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image8 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project8.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image9 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project9.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image10 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project10.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image11 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project11.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image12 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project12.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image13 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project13.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image14 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project14.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 

body, html {
    height: 100%;
}

.hero-image15 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project15.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image16 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project16.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image17 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project17.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image18 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project18.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image19 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project19.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image20 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project20.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image21 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project21.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image22 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project22.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image23 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project23.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image24 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project24.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image25 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project25.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image26 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project26.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image27 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project27.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image28 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project28.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image29 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project29.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image30 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project30.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image31 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project31.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image32 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project32.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image33 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project33.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 


body, html {
    height: 100%;
}

.hero-image34 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project34.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 



body, html {
    height: 100%;
}

.hero-image47 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project47.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 



body, html {
    height: 100%;
}

.hero-image48 {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(60, 179, 113, 0.5)), url("../images/hero images/project48.jpg");


  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



============================================================================================ 



